# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/waifu_2x
/python/features
/python/__pycache__
/ESRGAN
/upscaled
/dist
/public
/find_visually_similar_images/data.txt
/find_visually_similar_images/image_features.pkl
/images
/import_from_derpi
/webp_images
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
